:root {
  --dark: rgb(14, 25, 47);
  --light: rgb(121, 237, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* background-image: linear-gradient(#0b092f, #0b092f); */
  background-image: linear-gradient(#121212, #121212);
  text-align: center;
  height: 100vh;
  width: 100vw;
  width: auto;
  overflow-x: hidden;
}

#logo {
  top: 30px;
  display: block;
  margin: 30px;
  width: auto;
  height: 130px;
  text-align: center;
}

.icon {
  display: block;
  margin: 20px 10px;
  width: 30px;
}

.navigation {
  position: absolute;
  width: fit-content;
  margin: 100px auto;
  border-radius: 11px;
  background: #121212;
  box-shadow: 18px 18px 27px #0e0e0e, -18px -18px 27px #161616;
  z-index: 1;
  opacity: 95%;
}

#profileNav {
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#profileNav .icon {
  margin: 20px 15px;
}

#mobileNav {
  position: absolute;
  width: 88%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  z-index: 1;
  visibility: hidden;
}

#navBlock {
  padding: 10px 20px;
}

#searchFields {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 100px auto;
  width: fit-content;
  z-index: 1;
  opacity: 90%;
  left: 0;
  right: 0;
}

::placeholder {
  color: var(--light);
  display: inline;
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
  text-align: center;
  padding-bottom: 2px;
}

input,
select,
textarea {
  color: var(--light);
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
  text-align: center;
}

input:focus {
  border-color: none;
  outline: none;
}

#origin,
#destination,
#searchBtn {
  margin: 0 auto 25px auto;
  padding: 10px;
  width: 300px;
  height: 50px;
  background: #212121;
  box-shadow: 18px 18px 27px #0e0e0e, -18px -18px 27px #161616;
  border-top: 0.5px inset var(--light);
  border-left: 0.5px inset var(--light);
  border-right: 3px inset var(--light);
  border-bottom: 3px inset var(--light);
  border-radius: 5px;
}

/* Search field buttons animation */
.shadow-pop-br {
  -webkit-animation: shadow-pop-br 0.5s cubic-bezier(0.47, 0, 0.745, 0.715)
    forwards;
  animation: shadow-pop-br 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}
@-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb,
      0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb;
    box-shadow: 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb,
      0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #2cffeb, 2px 2px #2cffeb, 3px 3px #2cffeb,
      4px 4px #2cffeb, 5px 5px #2cffeb, 6px 6px #2cffeb, 7px 7px #2cffeb,
      8px 8px #2cffeb;
    box-shadow: 1px 1px #2cffeb, 2px 2px #2cffeb, 3px 3px #2cffeb,
      4px 4px #2cffeb, 5px 5px #2cffeb, 6px 6px #2cffeb, 7px 7px #2cffeb,
      8px 8px #2cffeb;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb,
      0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb;
    box-shadow: 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb,
      0 0 #2cffeb, 0 0 #2cffeb, 0 0 #2cffeb;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #2cffeb, 2px 2px #2cffeb, 3px 3px #2cffeb,
      4px 4px #2cffeb, 5px 5px #2cffeb, 6px 6px #2cffeb, 7px 7px #2cffeb,
      8px 8px #2cffeb;
    box-shadow: 1px 1px #2cffeb, 2px 2px #2cffeb, 3px 3px #2cffeb,
      4px 4px #2cffeb, 5px 5px #2cffeb, 6px 6px #2cffeb, 7px 7px #2cffeb,
      8px 8px #2cffeb;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

/* Full Nav animation */
.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

/* Side Nav animation */
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s
    both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.navTab {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Nav links */
h1 {
  color: var(--light);
  display: inline;
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
  margin: auto 20px;
}

/* Glowing nav links */
h1:hover.glow {
  color: var(--light);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* Glowing nav links animation */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
      0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* #filter {
  position: absolute;
  z-index: 2;
  right: 10;
  left: 0;
  margin: 425px auto;
  width: 50px;
} */

.results {
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;
  width: 40%;
  margin: 600px auto;
  box-shadow: 18px 18px 27px #0e0e0e, -18px -18px 27px #161616;
  border-radius: 10px;
}

#result1 {
  height: 300px;
}

#header1,
#header2 {
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: 121212;
  color: rgb(240, 240, 240);
  padding: 20px;
}

#trip,
#costDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#moreBtn {
  margin-left: 25px;
  margin-right: 0;
}

.planeIcon {
  height: 22px;
  width: auto;
  margin: auto 15px;
}

#planeImg {
  background-image: url(../assets/images/plane1.jpg);
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
}

#header1 {
  border-radius: 10px 10px 0 0;
}

#header2 {
  background: #212121;
  opacity: 90%;
}

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  #logo {
    display: none;
  }

  h1 {
    display: none;
  }

  button h1 {
    display: inline;
  }

  #origin,
  #destination,
  #searchBtn {
    width: 250px;
  }

  .navigation {
    margin: 60px auto;
  }

  .results {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  #navBlock {
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 0;
    bottom: 0;
    opacity: 100%;
  }

  .slide-right {
    -webkit-animation: none !important;
    animation: none !important;
  }

  .slide-left {
    -webkit-animation: none !important;
    animation: none !important;
  }

  #profileNav {
    display: none;
  }

  #mobileNav {
    visibility: visible;
  }

  .results {
    width: 75%;
  }

  #header1,
  #header2 {
    font-size: 8pt;
  }

  #moreBtn {
    margin-left: 15px;
  }

  .planeIcon {
    height: 18px;
    margin: auto 10px;
  }
}
