@font-face {
  font-family: digital;
  src: url(../assets/fonts/digital.ttf);
}

:root {
  --dark: rgb(14, 25, 47);
  --light: rgb(121, 237, 255);
  --select: (#b52d87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a img.hover {
  display: none;
}
a img.default {
  display: inherit;
}
a:hover img.hover {
  display: inherit;
}
a:hover img.default {
  display: none;
}

html,
body {
  background-image: linear-gradient(#121212, #121212);
  text-align: center;
  height: 100vh;
  width: 100vw;
  width: auto;
  overflow-x: hidden;
}

#logo {
  top: 30px;
  display: block;
  margin: 30px;
  width: auto;
  height: 130px;
  text-align: center;
}

#mobileLogo {
  position: absolute;
  margin: 20px auto;
  width: 80px;
  z-index: 1;
  left: 0;
  right: 0;
}

.icon {
  display: block;
  margin: 25px 10px;
  width: 30px;
}

.navigation {
  position: fixed;
  width: fit-content;
  margin: 100px auto;
  border-radius: 11px;
  background: #121212;
  box-shadow: 18px 18px 27px #0e0e0e, -18px -18px 60px #0e0e0e;
  z-index: 4;
  opacity: 95%;
}

#profileNav {
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: -20px;
}

#profileNav .icon {
  margin: 20px 15px;
}

#mobileNav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  z-index: 4;
  visibility: hidden;
}

#navBlock {
  padding: 0 20px;
  margin-left: -25px;
  margin-top: 80px;
  align-items: center;
}

#searchFields {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 120px auto;
  width: fit-content;
  z-index: 1;
  opacity: 90%;
  left: 0;
  right: 0;
}

#searchFields input,
#searchFields button {
  margin-left: 80px;
}

::placeholder {
  color: var(--light);
  display: inline;
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
  text-align: center;
  padding-bottom: 2px;
}

input,
select,
textarea {
  color: var(--light);
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
  text-align: center;
}

input:focus {
  border-color: none;
  outline: none;
}

#origin,
#destination,
#searchBtn,
#signupBtn,
#loginBtn,
#submitBtn {
  margin: 0 auto 25px auto;
  padding: 10px;
  width: 300px;
  height: 50px;
  background: #212121;
  box-shadow: 18px 18px 27px #0e0e0e, -18px -18px 27px #161616;
  border-top: 0.5px inset var(--light);
  border-left: 0.5px inset var(--light);
  border-right: 3px inset var(--light);
  border-bottom: 3px inset var(--light);
  border-radius: 5px;
}

.register {
  background-image: url("../assets/images/runway.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  padding-top: 100px;
}
.registerFields {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.register input,
.register button {
  width: 350px;
  height: 50px;
  right: 0;
  left: 0;
  margin: 20px auto;
  border-radius: 5px;
  align-items: left;
}

.register input,
select,
textarea {
  color: var(--dark);
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  text-align: left;
  padding-left: 15px;
}

#signupBtn,
#loginBtn {
  margin-top: 30px;
}

#submitBtn {
  margin: 0 auto;
}

.enterBid {
  display: flex;
  flex-direction: row;
  margin: 0 25px 25px 25px;
  align-items: center;
}

#enterBid {
  text-align: center;
}

.navTab {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navTab:hover h1 {
  color: #e434a9;
  text-shadow: rgba(255, 0, 217, 0.59) 0px 0px 21px;
}

/* Nav links */
h1 {
  color: var(--light);
  display: inline;
  font-family: "Quicksand", sans-serif;
  font-size: 15pt;
  margin: auto 20px;
}

h1:hover {
  color: #e434a9;
  text-shadow: rgba(255, 0, 217, 0.59) 0px 0px 21px;
}

.topResultsContainer {
  position: absolute;
  z-index: 2;
  width: 100%;
  right: 0;
  left: 0;
  margin-top: 550px;
  margin-left: 40px;
}

#topResultsHeader h2 {
  text-align: left;
  margin-bottom: 15px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;
  color: #e434a9;
  text-shadow: rgba(255, 0, 217, 0.59) 0px 0px 21px;
}

.topResults {
  box-shadow: 18px 18px 27px #0e0e0e, -18px -18px 27px #161616;
  border-radius: 10px;
  margin-bottom: 200px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#result {
  height: 270px;
  border: 2px solid var(--light);
  display: flex;
  flex-direction: column;
}

#result:hover {
  border: 2px solid #e434a9;
}

#header1,
#header2 {
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: 121212;
  color: rgb(240, 240, 240);
  padding: 20px;
}

#resultsHeader {
  height: 60px;
  background-color: #000000;
  padding: 20px;
  margin: 15px -20px 20px -20px;
}

#result #header2 {
  position: absolute;
  margin-top: 60px;
  width: calc(45% - 4px);
}

#trip,
#costDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#moreBtn {
  margin-left: 25px;
  margin-right: 0;
}

.planeIcon {
  height: 22px;
  width: auto;
  margin: auto 10px;
}

.plane {
  width: stretch;
  height: 206px;
  object-fit: cover;
  object-position: center;
}

#myPlane .plane {
  border-radius: 10px 10px 0 0;
  margin-bottom: -4px;
}

#header1 {
  background: #121212;
  opacity: 95%;
}

#header2,
#auctionBody {
  background: #212121;
  opacity: 70%;
}

.filterFields {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#filterContainer {
  background-color: var(--dark);
  opacity: 90%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 18px 18px 27px #0e0e0e, -18px -18px 27px #161616;
}

#filterOrigin::placeholder,
#filterDestination::placeholder {
  color: var(--dark);
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  color: rgb(240, 240, 240);
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  color: rgb(240, 240, 240);
  opacity: 100%;
}

.auction,
.profile {
  background-image: url("../assets/images/runway.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  overflow-y: auto;
  padding-left: 50px;
}

.profileBlock {
  background-color: #0e143e;
  opacity: 90%;
  margin: 20px;
  border-radius: 10px;
  min-height: 80px;
  text-align: start;
  padding-bottom: 10px;
}

.profileOpenBids a h2 {
  font-size: 12pt;
  margin: 0 0 8px 25px;
}

header {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#auctionHeader {
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(240, 240, 240);
  background-color: #0e0e0e;
  opacity: 95%;
  padding: 20px 0 20px 20px;
}

.profileBlockHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
}

.auctionDetail,
.profileDetail {
  display: absolute;
  z-index: 2;
  width: 45%;
  background-color: #262626, transparency 50%;
  margin: 80px auto;
  padding: auto 30px;
  border-radius: 10px;
  box-shadow: 12px 12px 40px #36c3ff, -10px -10px 40px #1ef3fe;
  margin-bottom: 200px;
}

.filter {
  position: absolute;
  z-index: 3;
  background-image: none;
  border-radius: 10px;
  width: 45%;
  margin: 100px auto;
  right: 0;
  left: 0;
}

.filter #filterContainer {
  margin-top: -20px;
  margin-bottom: 200px;
}

.filterFields .filterRow input {
  height: 40px;
  width: 220px;
  margin: 5px;
  color: var(--dark);
}

.filterBody {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
}

.filterRow,
.auctionRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12pt;
}

.filterRow h2,
.profileDetail h2 {
  font-size: 16pt;
  color: #ff4dc4;
  text-shadow: rgba(255, 0, 217, 0.59) 0px 0px 21px;
}

#filteredResults #result #header2 {
  width: calc(100% - 44px);
}

.profileDetail h2 {
  text-align: left;
  margin: 25px 0 0 25px;
}

.filterColumn h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#countdown {
  background-color: black;
  font-size: 30pt;
  height: 60px;
  width: 170px;
  color: #e434a9;
  font-weight: 900;
  padding: 13px 8px 8px 8px;
  display: flex;
  justify-content: center;
  font-family: digital;
  margin-left: 5px;
}

#timerBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#auctionBody {
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  background-color: 121212;
  color: rgb(240, 240, 240);
  padding: 20px;
  align-items: flex-start;
}

.auctionBodyColumn,
.filterColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.filterColumn {
  margin: 10px;
  text-align: right;
}

.profileColumn {
  text-align: left;
  margin: 20px 0 0 0;
}

#profileLinks {
  margin: 10px 10px 0 2px;
}

.profileColumn h3 {
  margin: 2px auto;
}

.profileColumn h5 {
  margin: 3px;
  color: #909090;
  opacity: 70%;
}

.filterColumn form select {
  width: 100px;
  margin: 4px auto;
}

#auctionBody h3 {
  margin: 4px 7px 4px 0;
  color: var(--light);
}

.auctionBodyColumn h3 {
  color: rgb(240, 240, 240);
  opacity: 100% !important;
  margin-right: 3px;
}

#bidHeader {
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  height: 40px;
  background-color: #0e0e0e;
  color: rgb(240, 240, 240);
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 5px;
}

.bidHistory {
  margin-bottom: 20px;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.otherBid {
  margin: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.auction input {
  width: 150px;
  height: 50px;
  right: 0;
  left: 0;
  border-radius: 5px;
  padding-right: 10px;
}

.auction input,
select,
textarea {
  color: var(--dark);
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  text-align: center;
}

.termsContainer,
.leadingBidContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.leadingBidContainer {
  justify-content: space-between;
}

.serviceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

li {
  font-size: 10px;
  margin-top: 8px;
}

#leadingBid {
  background-color: #484848;
  padding: 8px;
  margin-left: 8px;
  margin-bottom: 6px;
  width: 127px;
  align-items: right;
  text-align: end;
}

#termsConfirm {
  height: 17px;
  width: 17px;
  margin-right: 8px;
}

#addService,
#addPremiumBar,
#addWiFi {
  height: 17px;
  width: 17px;
  margin: 7px;
}

#addServiceLink {
  margin-left: 7px;
}

.auction ::placeholder {
  color: var(--dark);
  text-align: right;
  font-size: 12pt;
  padding-right: 15px;
}

.auctionMessage {
  margin: 25px auto;
}

h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 11pt;
  color: rgb(240, 240, 240);
}

h6 {
  font-family: "Quicksand", sans-serif;
  font-size: 8pt;
  color: var(--light);
  padding: 2px;
}

#watchIcon,
#watchIcon2 {
  margin: 5px 10px 5px 5px;
  width: 50px;
}

#userImg {
  width: 110px;
  opacity: 70%;
  margin: auto 20px;
}

.profileBlockHeader img {
  max-height: 30px;
  margin: 8px 5px 5px 0;
  opacity: 70%;
}

#addUserImg,
#addUserImg2 {
  position: absolute;
  margin-left: 60px;
  margin-top: 27px;
  z-index: 4;
}

.watchOption {
  display: flex;
  flex-direction: row;
  margin: 5px 15px;
  align-items: center;
}

.register a,
.termsContainer a,
.serviceContainer a {
  text-decoration: none;
  color: var(--light);
  margin-left: 3px;
}

.register a:hover,
.termsContainer a:hover,
.serviceContainer a:hover,
h6:hover {
  color: #ff4dc4;
  text-shadow: rgba(255, 0, 217, 0.59) 0px 0px 21px;
  font-weight: 900;
}

.register ::placeholder {
  color: rgb(155, 155, 155);
  text-align: left;
  font-size: 12pt;
}

@media screen and (max-width: 1200px) {
  #logo {
    display: none;
  }

  h1 {
    display: none;
  }

  .enterBid h1 {
    display: inline;
  }

  button h1 {
    display: inline;
  }

  #origin,
  #destination,
  #searchBtn,
  #loginBtn,
  #signupBtn {
    width: 275px;
  }

  .topResults,
  .auctionDetail,
  .profileDetail,
  .filter,
  #topResultsHeader h2 {
    width: 60%;
  }

  #result #header2 {
    width: calc(60% - 4px);
  }

  #searchFields input,
  #searchFields button {
    margin: 12px auto;
  }

  .topResultsContainer {
    margin-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  #navBlock {
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    justify-content: space-around;
    border-radius: 0;
    bottom: 0;
    opacity: 100%;
    z-index: 4;
  }

  .auction,
  .profile {
    padding-left: 0;
  }

  #navBlock.navigation .search {
    margin-left: -25px;
  }

  #navBlock.navigation .settings {
    margin-right: 25px;
  }

  .auctionRow {
    font-size: 10pt;
  }

  #mobileNav {
    visibility: visible;
  }

  .topResults,
  .auctionDetail,
  .profileDetail,
  .filter,
  #topResultsHeader h2 {
    width: 85%;
  }

  #result #header2 {
    margin-top: 60px;
    width: calc(85% - 4px);
  }

  #myPlane .plane {
    height: 180px;
  }

  #auctionBody {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 12pt;
  }

  #moreBtn {
    margin-left: 15px;
  }

  .planeIcon {
    height: 18px;
    margin: auto 5px;
  }

  #countdown {
    font-size: 25pt;
    width: 150px;
    align-items: center;
  }

  #enterBid {
    margin-bottom: 25px;
  }

  .enterBid {
    flex-direction: column;
    justify-content: left;
  }

  .leadingBidContainer {
    font-size: 12pt;
    margin-bottom: 5px;
  }

  #leadingBid {
    width: 90px;
  }

  #termsConfirm {
    height: 13px;
    width: 13px;
  }

  .serviceContainer {
    font-size: 10pt;
  }

  li {
    font-size: 6pt;
  }

  .watchOption {
    justify-content: center;
  }

  h3,
  h5 {
    font-size: 9pt;
  }

  #watchIcon,
  #watchIcon2 {
    margin: 5px 10px 5px 5px;
    width: 50px;
  }

  .filterFields .filterRow input {
    width: 170px;
    font-size: 10pt;
  }
}

@media screen and (max-width: 505px) {
  .filterFields {
    height: 80px;
    margin-bottom: 10px;
  }

  #myPlane {
    height: 160px;
  }

  .plane {
    height: 186px;
  }

  .filterFields .filterRow input {
    height: 40px;
    font-size: 10pt;
  }

  #filterAircraft select,
  #filterOperator select,
  #filterCabinSize select {
    font-size: 10pt;
    width: 80px;
  }

  #filterOrigin::placeholder,
  #filterDestination::placeholder {
    font-size: 12pt;
  }

  #filterContainer {
    padding: 0;
  }

  .filterBody {
    margin: 5px;
    justify-content: center;
    margin-bottom: 10px;
  }

  #addService,
  #addPremiumBar,
  #addWiFi {
    height: 15px;
    width: 15px;
    margin: 5px auto;
  }

  #auctionBody {
    padding: 10px;
  }

  .termsContainer {
    justify-content: start;
  }

  #result {
    height: 240px;
  }

  #resultsHeader {
    margin: 0;
  }

  #resultsHeader h2 {
    padding-top: -15px;
  }

  #header1,
  #header2 {
    height: 50px;
  }

  #result #header2 {
    margin-top: 50px;
  }

  .auctionRow {
    font-size: 9pt;
  }

  #userImg {
    width: 100px;
    margin: auto 10px;
  }

  #addUserImg,
  #addUserImg2 {
    position: absolute;
    margin-left: 45px;
    margin-top: 25px;
    z-index: 4;
  }

  #auctionHeader {
    padding: 20px 0 20px 10px;
  }

  #countdown {
    width: 140px;
  }

  .profileColumn h3 {
    margin: 3px auto;
  }

  #filteredResults #result #header2 {
    width: calc(100% - 4px);
  }
}
